@import url(./global.css);

body {
  display: flex;
  background-color: var(--yellow);
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: var(--black);
  width: 100%;
  height: 115px;
  border-radius: 0 0 35px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .link-page {
    display: flex;
    gap: 48px;
    margin-right: 75px;
    a {
      font-size: 36px;
      font-weight: 600;
      color: #ffffff;
    }
  }
  img {
    margin-left: 75px;
  }
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 285px;

  .head-info {
    display: flex;
    flex-direction: column;
    p {
      margin: 36px 0px;
      font-size: 25px;
      font-weight: 600;
      color: var(--gray);
    }
    h2 {
      font-size: 64px;
      font-weight: 800;
    }
  }

  .button-head {
    display: flex;
    flex-direction: row;
    gap: 20px;

    button {
      background-color: var(--black);
      width: 250px;
      height: 70px;
      border-radius: 15px;
      color: var(--white);
      box-shadow: 8px 6px 0px 0px var(--aqua);
      font-size: 32px;
      font-weight: 700;
    }
  }

  .head-images {
    display: flex;
    flex-direction: row;
    gap: 47px;
    align-items: center;
    margin-top: 75px;
    justify-content: flex-end;

    .avatar {
      width: 500px;
      height: 625px;
      border-radius: 10px;
      box-shadow: 8px 6px 0px 0px var(--black);
    }

    .social-media {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    .social-media img {
      filter: grayscale(100%);
    }

    .social-media {
      .icon-facebook:hover {
        filter: unset;
      }
      .icon-insta:hover {
        filter: unset;
      }
      .icon-twitter:hover {
        filter: unset;
      }
      .icon-youtube:hover {
        filter: unset;
      }
    }
  }
}

.about {
  margin: 195px 65px;
  width: 1250px;
  height: 675px;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 55px;
  img {
    width: 385px;
    height: 480px;
    border-radius: 10px;
  }

  .text-about {
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-weight: 800;
      color: var(--white);
      font-size: 64px;
    }
    h3 {
      color: var(--yellow-text);
      font-size: 32px;
      font-weight: 700;
      line-height: 28px;
    }
    p {
      color: var(--white);
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
    }
  }
  .button-about {
    display: flex;
    flex-direction: row;
    gap: 20px;

    button {
      background-color: var(--black);
      width: 250px;
      height: 70px;
      border-radius: 15px;
      color: var(--white);
      box-shadow: 8px 6px 0px 0px var(--aqua);
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.service {
  background-color: var(--orange);
  width: 100%;
  height: 1006px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 70px;

  .title-service{
  
    color: var(--black);
    font-size: 64px;
    font-weight: 800;
    line-height: 40px;
  }

  .text-service{
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }

  .conteiner {
    display: flex;
  }
}
